

<div class="container">
    <h3> Kitewa Location </h3>
    <div class="row col-lg-12 col-md-12 col-sm-12">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12969.202185765273!2d139.73696072883837!3d35.64496618324205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa5e089dc4f407051!2sKitewa+Wood+Workshop!5e0!3m2!1sen!2sus!4v1502598550185" width="1100" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
<p> <strong>Address: 2-9-9 2 floor, Shiba Minato ku, 105-0014 </strong></p>>

 </div>
</div>

<div class="container">
            <div class="row col-md-6">
                    
                    <div class="intro">
                        <h2 class>Open </h2>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Day </th>
                                        <th>Time </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Saturday </td>
                                        <td>11 am - 6pm</td>
                                    </tr>
                                    <tr>
                                        <td>Sunday </td>
                                        <td>11 am - 6pm</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                        <h2 class>Location </h2>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Station </th>
                                        <th>Distance </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>shiba koen station A1 </td>
                                        <td>3 min</td>
                                    </tr>
                                    <tr>
                                        <td>mita station A9&nbsp; </td>
                                        <td>7 min</td>
                                    </tr>
                                    <tr>
                                        <td>akabanebashi station&nbsp; </td>
                                        <td>9 min</td>
                                    </tr>
                                    <tr>
                                        <td>tamachi station&nbsp; </td>
                                        <td>15 min</td>
                                    </tr>
                                    <tr>
                                        <td>hamamatsucho / daimon&nbsp; </td>
                                        <td>15 min</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
          




    
    
    
