   <div class="contact-clean">
        <form method="POST" action="https://formspree.io/dohabib@gmail.com">
            <h2 class="text-center">{{'Contact.H2' | translate}}</h2>
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="{{'Contact.Name' | translate}}"></div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="{{'Contact.Email' | translate}}">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="14" name="message" placeholder="{{'Contact.Message' | translate}}"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">{{'Contact.Submit' | translate}} </button>
            </div>
        </form>
    </div>
    <div>
        <p class="text-center"><strong> {{'Contact.P1' | translate}}: 080-1130-9248</strong> </p>
        <p class="text-center"><strong> {{'Contact.P2' | translate}}: info@kitewa.jp </strong> </p>
    </div>