  
  
   <div class="container">
       <div class="row col-lg-6 col-md-6 col-sm-6">
        <div class="thumbnail"><img src="assets/img/concept-2.jpg">
        </div>
       </div>
        <div class="row col-lg-6 col-md-6 col-sm-6">
            <div>
                <h3>{{'Concept.H3' | translate}} </h3>
                <p>{{'Concept.P1' | translate}} </p>
                <p>{{'Concept.P2' | translate}}</p>
                <p>{{'Concept.P3' | translate}}</p>
                <p>{{'Concept.P4' | translate}} </p>
                <p>{{'Concept.P5' | translate}}</p>
                <p>{{'Concept.P6' | translate}} </p>
                <p>{{'Concept.P7' | translate}} </p>
            </div>
        </div>
        </div>
    