   <div class="container">
       <div class="row col-lg-6 col-md-6 col-sm-6">
        <div class="thumbnail"><img src="assets/img/concept-2.jpg">
        </div>
       </div>
        <div class="row col-lg-6 col-md-6 col-sm-6">
            <div class="caption">
                <h3>Kitewa (木手和) Wood Workshop is a community for woodworkers. </h3>
                <p>In Japanese, 木 (ki) means "wood" 手(te) means "hand" &amp;&nbsp; 和(wa) means "harmony." </p>
                <p>In addition to learning woodworking skills, you can also learn English! </p>
                <p>Kitewa provides a variety of professional-grade tools to help you build almost any project </p>
                <p>You supply the imagination, materials and desire!&nbsp; </p>
                <p>It's perfect for people who want to make things, but don't have the tools, space or skills. &nbsp;Kitewa is open to everyone, from beginners to master craftsmen. </p>
                <p>If you already know how to use the tools, you can start your project today!&nbsp; If you’re just beginning, or if there is a tool that’s new to you, we offer instruction in basic use and safety, so you can quickly start working on your
                    project. </p>
                <p>Come to Kitewa to learn new skills, meet new people and have fun!When your project is finished you can say, “I made that!” </p>
            </div>
        </div>
        </div>
    