  <div class="container">
        <div class="thumbnail"><img src="assets/img/about-1.jpg">
            <div class="caption">
                <h1 class="text-center">Tim Quillian</h1>
                <p>Tim Quillian, owner of Kitewa Wood Workshop, has been doing DIY for more than 20 years. </p>
                <p>Moving to Japan in 2005, he teaches business English to employees at companies such as Nomura, NEC, Marubeni, Accenture, Sony, Mitsui Fudosan, Dentsu, Morgan Stanley, Softbank, Apple, Suntory, PwC, Sumitomo Life, etc. </p>
            </div>
        </div>
    </div>