<div class="container">
    <div class="row col-lg-6 col-md-6 col-sm-6">
        <div class="thumbnail"><img src="assets/img/training-1.jpg">
        </div>
    </div>
        <div class="row col-lg-6 col-md-6 col-sm-6">

            <div class="caption">
                <h3>{{'Training.H3' | translate}}</h3>
                <p> {{'Training.P1' | translate}} </p>
                <p>{{'Training.P2' | translate}} </p>
                <p>{{'Training.P3' | translate}} </p>
                <p>{{'Training.P4' | translate}}. </p>
            </div>
        </div>
    </div>
