    <div class="highlight-clean">
        <div class="container" id="background">
            <div id="logo">
                <div class="thumbnail" style="padding:0px;margin:0px;"><img src="assets/img/Kitewa.jpg" width="250px" height="250px">
                </div>
            </div>
            <div>
                <h1> {{'Home.H1'| translate}} </h1>
                <p>{{'Home.P1' | translate}}</p>
                <p>{{'Home.P2' | translate}}</p>
            </div>
            <div id="buttons"><a class="btn btn-default btn-lg" role="button" href="concept">ENGLISH </a>&nbsp;&nbsp;&nbsp;<a class="btn btn-default btn-lg" role="button" href="concept-japanese.html">日本語 </a></div>
        </div>
    </div>