    <div class="highlight-clean">
        <div class="container" id="background">
            <div id="logo">
                <div class="thumbnail" style="padding:0px;margin:0px;"><img src="assets/img/Kitewa.jpg" width="250px" height="250px">
                    <div class="caption"></div>
                </div>
            </div>
            <div class="intro">
                <h1> {{'Title' | translate}} </h1>
                <h2>木手和 </h2>
                <h2>Kitewa Woodwork Shop</h2>
                <p>open every saturday &amp; sunday 11am-6pm </p>
                <p>Free intro lesson! </p>
            </div>
            <div id="buttons"><a class="btn btn-default btn-lg" role="button" href="concept">ENGLISH </a>&nbsp;&nbsp;&nbsp;<a class="btn btn-default btn-lg" role="button" href="concept-japanese.html">日本語 </a></div>
        </div>
    </div>