

<div class="container">
    <div class="row col-lg-6 col-md-6 col-sm-6">
        <div class="thumbnail"><img src="assets/img/join-1.jpg">
            <div class="caption">
                <p>{{'Join.P1' | translate}}</p>
                <p> {{'Join.P2' | translate}} </p>
            </div>
            </div>
    </div>


        <div class="row col-lg-6 col-md-6 col-sm-6">
                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{'Join.TH1' | translate}} </th>
                            <th>{{'Join.TH2' | translate}} </th>
                            <th>{{'Join.TH3' | translate}} </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{'Join.TD1' | translate}} </td>
                            <td>{{'Join.TD3' | translate}} </td>
                            <td>{{'Join.TD3' | translate}} </td>
                        </tr>
                        <tr>
                            <td>{{'Join.TD4' | translate}} </td>
                            <td>{{'Join.TD5' | translate}} </td>
                            <td>{{'Join.TD6' | translate}} </td>
                        </tr>
                        <tr>
                            <td>{{'Join.TD7' | translate}} </td>
                            <td> </td>
                            <td>{{'Join.TD8' | translate}} </td>
                        </tr>
                        <tr>
                            <td>{{'Join.TD9' | translate}} </td>
                            <td> </td>
                            <td>{{'Join.TD10' | translate}} </td>
                        </tr>
                        <tr>
                            <td>{{'Join.TD11' | translate}} </td>
                            <td>{{'Join.TD12' | translate}} </td>
                            <td>{{'Join.TD13' | translate}} </td>
                        </tr>
                        <tr>
                            <td>{{'Join.TD14' | translate}} </td>
                            <td> </td>
                            <td>{{'Join.TD15' | translate}} </td>
                        </tr>
                        <tr>
                            <td>{{'Join.TD16' | translate}} </td>
                            <td>{{'Join.TD17' | translate}} </td>
                            <td>{{'Join.TD18' | translate}} </td>
                        </tr>
                        <tr>
                            <td>{{'Join.TD19' | translate}} </td>
                            <td> </td>
                            <td>{{'Join.TD20' | translate}} </td>
                        </tr>
                    </tbody>
                </table>
                <p>{{'Join.P3' | translate}}</p>
                <p>{{'Join.P4' | translate}} </p>
            </div>
        </div>
</div>

        
        